<<<<<<< HEAD
div{
    width: 150px;
    height: 150px;
    background-color: darkcyan;
  margin-top:70px;
  margin-left: 110px;
  text-align: center;
  transform: rotate(18550deg);
  text-transform: capitalize;
  
}
div:hover{
    transition-property: all;
    transition-duration: 555s;
    transition-timing-function: steps();
    background-color: red;
    transform: rotate(9deg);
}
=======
div{width: 200px;
height: 200px;
background-color: silver;
margin-top: 200px;
margin-left: 600px;
text-transform: capitalize;

display:flex;
justify-content: center; 
align-items: center;
}
div:active{transition-property: all;
        transition-duration: 5s;
        transition-delay: 2ms;
        transition-timing-function: steps();
        transform: translateX(550px); 
        background-color: rgb(231, 232, 26);  
    }
>>>>>>> 1c123e0216dd479c4bab48a846cca155b5fa264a
