div{
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    animation-name: d1;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    position: absolute;
    animation-direction:alternate
    

}
@keyframes d1{
    from{background-color: blue;
            left: 0px;
        color: black;
        font-family: default;}
  to{background-color: red;
            left: 1340px;
        color: blue;
        font-family: cursive;}      

 }

 