body{
    margin: 0;
    padding: 0;
}
#header{
    text-align: center;
    color: red;
    font-size: 50px;
    position: sticky;
    background-color: gray;
    height: 70px;
    
}
.search{position: absolute;
    display: inline-block;
    height: 200px;
    width: 200px;
    border-width: 20px;
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    border-top-color: blue;
    border-bottom-color: green;
    border-left-color: palevioletred;
    top: 90px;
    left: 190px;
    transform: rotate(0deg);
    background-image: url(fblogo3.png);
    background-size: cover;
}
   


.search:hover{
    transition-property: all;
    transition-duration:5s;
    transition-timing-function: steps(0);
    transition-delay: 1s;
    transform: rotate(980deg);
    
}
.search1{position: absolute;
    display: inline-block;
    height: 200px;
    width: 200px;
    border-width: 20px;
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    border-top-color: blue;
    border-bottom-color: green;
    border-left-color: palevioletred;
    top: 90px;
    left:1100px;
    transform: rotate(0deg);
    background-image: url(fblogo3.png);
    background-size: cover;
    
}

.search1:hover{
    transition-property: all;
    transition-duration:5s;
    transition-timing-function: steps(0);
    transition-delay: 1s;
    transform: rotate(980deg);
    
}
#p3{
    height: 150px;
    width: 150px;
    height: 200px;
    width: 200px;
    border-width:0.1px;
    background-color: none;
    border-style: solid;
    border-radius: 50%;
    background-color: none;
    margin-left: 0px; 
     border-style: none;  
    margin-top: 01px;
     
     display: inline-block	;
    
    
}
a{

display:contents;

}

.search:hover{
 border-style: dotted;
}
.search1:hover{
    border-top-color: white;
    border-bottom-color: paleturquoise;
    border-left-color: yellow;
    border-right-color: gold
    
}
#p1{
    color: red;
    font-size: 50px;
    position: absolute;
    top: 150px;
    margin-left: 510px;
    animation-name: p1;
    animation-duration:2s;
    animation-direction: alternate;    
}

#p2{
    color: green;
    font-size: 50px;
    position: absolute;
    margin-top: 15px;
    margin-left: 490px;
    animation-name: p2;
    animation-duration:2s;
    animation-direction:reverse; 
    animation-delay: 0s; 
    text-shadow: 2px 4px 5px red;
    
}
#p2::first-letter{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 400;
}


#p1:hover{
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0s;
    top: 50px;
    color: blue;
}
#p2:hover{transition: all;
    transition-duration: 2s;
    color: blue;    

}

body{
   position:sticky;
    background-color: black;
}
.h1{
    color: palevioletred;
    text-align: center;
    /* text-align: justify; */
    
    position:absolute; 
    transition-duration: 3s;
    margin-left: 10px;
    font-size: 13px;
    top: 400px;
    font-family: cursive;
    margin: 0px; 
    /* padding: 0px; */ /*Note: it's optional */
}
p:hover{
    color: green;
}
#air{
    height: 100px;
    width: 500px;
    border-style:ridge;
    border-color: green;
    border-width:10px ;
    border-radius: 10px;
    background-color: white;
    position:static;    
    margin-left: 490px;
    margin-top: 150px;
    animation-name: haha;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction:reverse;
    
}
#air:hover{transition-property: all;
        transition-duration: 3s;
    border-color: blue;
    

}
@keyframes haha{
    from{margin-top: 100px; }
    to {margin-top: 570px; }

}
@keyframes p1{
    from{top: 50px;}
    to { bottom: 150px;}
}
@keyframes p2{
    from{margin-top: 30px;  }
    to{margin-top: 650px; }
}
