*{
    margin: 0;
    
}
div{

    width: 248px;
    height: 248px;
    
    margin-left: 660px;
    margin-top: 240px;
    background-color: pink;
    box-shadow: 4px 8px 19px 2cap blueviolet;
    border-radius: 10px;
    border-color: green;
    padding: 32px;
    font-size: 20px;
    

}
ul{
    list-style-type:decimal;
    list-style-position: outside;
    list-style-image: url();

}
li{
    border: solid;
    border-color: sienna;
    margin-bottom: 10px;
    color: blue;
}
body{
    background-color: silver;
}