*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#div0{
    background-image: linear-gradient(to left, red, green);
    width: 900px;
    margin-left: 400px;
    height: 700px;
    position: relative;
}
#d1, #d2, #d3, #d4{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(to left, blue, brown);
    position: absolute;
}
#d3{
    z-index: 1; /* you can see here z-index use*/
}