*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#div1{
    width:500px;
    height: 400px;
    background-image:linear-gradient(to bottom, green, red);
    justify-content: center;
    align-content: center;
    margin: 190px;
    margin-left: 500px;
    overflow-x: scroll;
    white-space: nowrap;

}
body{
    background-image: linear-gradient(to left, blue , skyblue 30%);
}