*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    padding: 1rem 6rem 1rem 6rem;
    background-image: linear-gradient(to left, blue, skyblue);
    display: flex;
    justify-content: space-between;
    align-items: center; 

    
    
    
}
.logo{
    font-size: 3rem;
    color: white;
    font-weight: 600;
    & span{
        color: blue;
    }
}
.ul{
    list-style: none;
    gap: 6rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    
 & .a{
    color: white;
    text-decoration: none;}
}

/* section navbar end here */

.container-2{
    height: auto;
    width: 100%;
    padding: 9.6rem 9.4rem;
    grid-template-columns: repeat(2 ,1fr);
    display: grid;
    background-image: linear-gradient(to left, blue,silver);
    gap: 4rem;


    & .sub-heading{
        color: green;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    & h1{
        color: blue;
        font-size: 5rem;
        font-weight: 800;

    }    
    & .para{
        color: green;
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        word-spacing: 3px;
        text-transform: uppercase;
        padding-top: 2rem;
        
    }
    & .btn{
        display: inline-block;
        background-color: green;
        height: 3rem;
        width:9rem;
        /* padding: 1rem; */
        font-size:2rem;
        color: white;
        font-weight: 600;
        text-align: center ;
        margin-top: 3rem;
        border-radius: 23px;
        align-content: center;
    }        
    & .a-btn{
        text-decoration: none;
        color: inherit;
    }

    & .btn:hover{
        background-color: blue;
    }

    & img{
        width: 70%;
        height: 90%;
        
      border-radius: 20px;

    }

}

/* main{
    position: relative;
} */


.custom-shape-divider-bottom-1716759305 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716759305 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1716759305 .shape-fill {
    fill: #FFFFFF;
}