@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{  padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}
p, li ,a{
    font-family: "Urbanist";
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: var(--para-color);
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
    font-family: "poppins", sans-serif;
}

:root{
    --main-color: #0062ff;
    --supporting-color:#ebf3fe;
    --font-color:#424242;
    --bg-color:#ffffff;
    --heading-color:#000a19;
    --para-color:#504e4d;
    --btn-box-shadow:rgba(100 ,100 ,111 ,0.2) 0px 7px 29px 0px ;
}
.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
    font-weight: 400;
    
}
.section-navbar{
    position:normal ;
    width: 100%;
    box-shadow:rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-image: linear-gradient(to left,  gray, blue  );
}
.section-navbar .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 1.8rem 0;
}

.section-navbar .navbar ul{
    display: flex;   
    gap: 3.2rem;
    
}
.section-hero{
    background-image: linear-gradient(to left, white, blue);
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    font-size: 1.6rem;
    position: relative;
    color: white;
}

li .nav-link::after{
    content: '';
    position: absolute;
    left: 0px;
    width: 0%;
    bottom: -0.3rem;
    border-bottom: .2rem solid var(--main-color);
    transition: all 0.3s linear;
}
li a:hover::after{
width: 100%;
border-color: red;
}
li{
    list-style: none;
}

.grid{
    display: grid;
}
.grid-two--cols{
    grid-template-columns: repeat(2, 1fr) ;
}
.btn{
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    text-decoration: none;
    display: inline-block;
    color: var(--supporting-color);
    border-radius: .6rem;
}
.btn:hover{
    background-color: darkblue;
    cursor: pointer;
    box-shadow: var();
}
.section-hero--image{
    width: 100%;
    height: auto;
    padding: 2.7rem;


}
.section-hero .grid{
    align-items: center;
    gap: 6.2rem;
     & .hero-subheading{
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-size: 1.7rem;
                word-spacing: .2rem;
                font-weight: 700;
                color: darkgoldenrod;
     }

     & .hero-heading{
        font-size: 5.8rem;
        font-weight: 900;
        line-height: 1.5;
     }

     & .hero-para{
        color: var(--supporting-color);
        margin: 2rem 0 4rem 0 ;
     }
}


main{
    position: relative;
    width: 100%;
    height:auto ;

}
.custom-shape-divider-bottom-1716759305 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716759305 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1716759305 .shape-fill {
    fill: #FFFFFF;
}



.section-about{
    /* background-image:linear-gradient(to left, skyblue, white); */
    
    
    & .grid{
        gap: 6.2rem;
    }
    
}

.section-about img{
    padding: 1rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius:50%;
    box-shadow: 2px 0px 34px 3px blue;

}
.section-about .about-div{
    text-align: center;
}



.section-comon-heading{
        font-size: 3.2rem;
        font-weight: 700;
        text-transform: capitalize;
}
.section-comon-subheading{
    color:#000a19;
    font-size: 2.2rem;
}
.section-comon--title{
    font-size: 2rem;
    margin: 2.4rem 0rem 1.21rem 0rem ;
}

.grid-three--cols{
    grid-template-columns: repeat(3, 1fr);
    
}
.section-about img{
    transition: all 0.5s linear;

}
.about-div .icon:hover>img{
    transform: rotate(360deg);
    background-color: silver;
}